<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>About</title>
</head>
<body style="background-color: #08080a ;">
    <header class="headers">
        <a class="links" href="/home">Back to Home</a>
        <!-- <a class="links" href="/gallery"> Visit the Gallery Page</a> -->
        <a class="links" href="works">Visit the Works Page</a>
    </header>
    <hr />
    <div id="aboutBody">
        <h1>About Kid Cudi</h1>
        <h3>Scott Mescudi, better known by his stage name Kid Cudi, is an American
            singer, songwriter, rapper, record producer, and actor from Cleveland,
            Ohio. He is widely recognized for his influence on modern hip hop and 
            alternative music. His most popular tracks being "Day n' Nite", "Pursuit of Happiness", 
            "Ghost Town" with Kanye West, "Mr. Rager", and many more. 5 of Cudi's 
            records have hit top 10 in billboard, and as of June of 2022 Cudi had 
            sold over 22 million records in the U.S.
        </h3>

    </div>
</body>
</html>