<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Gallery</title>
</head>
<body style="background-color:#08080a">
    <header class="headers">
        <a class="links" href="/about">Visit the About Page</a>
        <a class="links" href="/home"> Back to Home</a>
        <a class="links" href="/works">Visit the Works Page</a>
    </header>

    <h1 style="color: white;">gallery</h1>
</body>
</html>