<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Works</title>
</head>
<body style="background-color: #08080a;">
    <header class="headers">
        <a class="links" href="/about">Visit the About Page</a>
        <!-- <a class="links" href="/gallery"> Visit the Gallery Page</a> -->
        <a class="links" href="/home">Back to Home</a>
    </header>
    <hr />
    <div id="worksBody">
        <h1>Kid Cudi's Works</h1>
        <ul id="worksList">
            <div id="listLeft">
                <li> A Kid named Cudi (2008) </li>
                    <img src="/images/lowrescat.png" alt="image">
                <li> Man on the Moon (1): End of Day </li>
                    <img src="/images/lowrescat.png" alt="image">
                <li> Man on the Moon II: The Legend of Mr. Rager </li>
                    <img src="/images/lowrescat.png" alt="image">
                <li> Indicud (2013)</li>
                    <img src="/images/lowrescat.png" alt="image">
            </div>
            <div id="listRight">
                <li> Satellite Flight: The Journey to Mother Moon (2014) </li>
                    <img src="/images/lowrescat.png" alt="image">
                <li> Speedin' Bullet 2 Heaven (2015) </li>
                    <img src="/images/lowrescat.png" alt="image">
                <li> Passion, Pain & Demon Slayin' (2016) </li>
                    <img src="/images/lowrescat.png" alt="image">
                <li>Man on the Moon III: The Chosen (2020)</li>
                    <img src="/images/lowrescat.png" alt="image">
            </div>
            
        </div>
    </ul>
</div>
<h2>On top of all of these albums, Kid Cudi also came together 
    with Kanye West to create "KIDS SEE GHOSTS", which would release
    in 2018</h2>
</body>
</html>